{% extends 'base.html' %}

{% block bodyblock %}


<div class="container" style="margin: 40px">
<h4>Artist List:</h4>
<hr>
{% if messages %}
<div class="bg-danger text-white" id="messages-container">

    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
  <script>
    setTimeout(function() {
      var messagesContainer = document.getElementById('messages-container');
      messagesContainer.style.display = 'none';
    }, 3000);
  </script>
{% endif %}
{% for artistmember in artist %}
    <ul>
    <li><a href="{% url 'artist-details' artistmember.id %}">{{ artistmember.first_name }} {{ artistmember.last_name }}</a></li>
    </ul>
{% endfor %}
</div>


{% endblock bodyblock %}